body {
    background-color: #394A2b;
    color: white;
}

header {
    width: 50%;
    background-color: #232D1A;
    border: 2px solid #4F673C;
    padding: 10px;
    text-align: center;
    margin: auto;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    margin: auto;
    width: 50%
}

#vtypes {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #8fbbbd;
    border: 2px solid #4f673c;
    padding: 10px;
}