body {
    background-color: #394A2b;
    color: white;
}

header {
    width: 50%;
    background-color: #232D1A;
    border: 1px solid #4F673C;
    padding: 10px;
    text-align: center;
    margin: auto;
}