body {
    background-color: #394A2b;
    color: white;
}

header {
    width: 50%;
    background-color: #232D1A;
    border: 2px solid #4F673C;
    padding: 10px;
    text-align: center;
    margin: auto;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    display: block;
    margin: auto;
    width: 80%;
}

#vtypes {
    width: 50%;
    background-color: #4f673c;
    border: 2px solid #66844D;
    padding: 10px;
}

#vlevels{
    width: 50%;
    background-color: #4f673c;
    border: 2px solid #66844D;
    padding: 10px;
}

#vlists {
    display: flex;
    gap: 20px;
}

#content_heading {
    text-align: center;
}

footer {
    background-color: #abc398;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin: 10px;
}